# Ignore Python Environment
ctenv/ 
*.log 
__pycache__/ 
*.csv 
*.json 

# Ignore Heavy Outputs and Models
*.log 
*.csv 
*.json 
*.pkl
*.npy
*.model
*.safetensors
*.png
data/
tokens/
models/
data/
tokens/
*.log
*.pkl
data/processed/*.csv
data/raw/*.csv
models/*.npy
models/*.safetensors
src/synthetic_data_generator.py
*png
*.model
models/